@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-color: #a78bfa;
}

.text-accent {
  color: var(--accent-color);
}

.bg-accent {
  background-color: var(--accent-color);
}

.bg-accent-30 {
  background-color: color-mix(in srgb, var(--accent-color) 20%, transparent);
}

.bg-accent-50 {
  background-color: color-mix(in srgb, var(--accent-color) 50%, transparent);
}

.border-accent {
  border-color: var(--accent-color);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat-sans);
  --font-mono: var(--font-montserrat-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
